name: Linters and Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: nrwl/nx-set-shas@v3
      - run: npm install

      - run: npm run lint:js
      - run: npm run lint:syncpack
